<!DOCTYPE html>
{% include "ecommerce/base_header.html" %}
{% load static %}
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>Titan | Multipurpose HTML5 Template</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{% static 'lib/animate.css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'lib/components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/et-line-font/et-line-font.css' %}" rel="stylesheet">
    <link href="{% static 'lib/flexslider/flexslider.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owl.carousel/dist/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owl.carousel/dist/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'lib/simple-text-rotator/simpletextrotator.css' %}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link id="color-scheme" href="{% static 'css/colors/default.css' %}" rel="stylesheet">
  </head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
{% block content %} {% endblock %}
<!--<main>-->
<!--<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">-->
<!--        <div class="container">-->
<!--          <div class="navbar-header">-->
<!--            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">Titan</a>-->
<!--          </div>-->
<!--          <div class="collapse navbar-collapse" id="custom-collapse">-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--            <li class="dropdown"><a class="dropdown-toggle" href="{% url 'login' %}" data-toggle="dropdown">Shops</a>-->
<!--                <ul class="dropdown-menu">-->
<!--                </ul>-->
<!--              {% if user.is_authenticated %}-->
<!--                <li class="dropdown"><a class="dropdown-toggle" href="{% url 'logout' %}" data-toggle="dropdown">Logout</a>-->
<!--                <ul class="dropdown-menu">-->
<!--                </ul>-->
<!--              {% else %}-->
<!--                <li class="dropdown"><a class="dropdown-toggle" href="{% url 'login' %}" data-toggle="dropdown">Login</a>-->
<!--                <ul class="dropdown-menu">-->
<!--                </ul>-->
<!--              {% endif %}-->
<!--              &lt;!&ndash;li.dropdown.navbar-cart&ndash;&gt;-->
<!--              &lt;!&ndash;    a.dropdown-toggle(href='#', data-toggle='dropdown')&ndash;&gt;-->
<!--              &lt;!&ndash;        span.icon-basket&ndash;&gt;-->
<!--              &lt;!&ndash;        |&ndash;&gt;-->
<!--              &lt;!&ndash;        span.cart-item-number 2&ndash;&gt;-->
<!--              &lt;!&ndash;    ul.dropdown-menu.cart-list(role='menu')&ndash;&gt;-->
<!--              &lt;!&ndash;        li&ndash;&gt;-->
<!--              &lt;!&ndash;            .navbar-cart-item.clearfix&ndash;&gt;-->
<!--              &lt;!&ndash;                .navbar-cart-img&ndash;&gt;-->
<!--              &lt;!&ndash;                    a(href='#')&ndash;&gt;-->
<!--              &lt;!&ndash;                        img(src=static/images/shop/product-9.jpg', alt='')&ndash;&gt;-->
<!--              &lt;!&ndash;                .navbar-cart-title&ndash;&gt;-->
<!--              &lt;!&ndash;                    a(href='#') Short striped sweater&ndash;&gt;-->
<!--              &lt;!&ndash;                    |&ndash;&gt;-->
<!--              &lt;!&ndash;                    span.cart-amount 2 &times; $119.00&ndash;&gt;-->
<!--              &lt;!&ndash;                    br&ndash;&gt;-->
<!--              &lt;!&ndash;                    |&ndash;&gt;-->
<!--              &lt;!&ndash;                    strong.cart-amount $238.00&ndash;&gt;-->
<!--              &lt;!&ndash;        li&ndash;&gt;-->
<!--              &lt;!&ndash;            .navbar-cart-item.clearfix&ndash;&gt;-->
<!--              &lt;!&ndash;                .navbar-cart-img&ndash;&gt;-->
<!--              &lt;!&ndash;                    a(href='#')&ndash;&gt;-->
<!--              &lt;!&ndash;                        img(src=static/images/shop/product-10.jpg', alt='')&ndash;&gt;-->
<!--              &lt;!&ndash;                .navbar-cart-title&ndash;&gt;-->
<!--              &lt;!&ndash;                    a(href='#') Colored jewel rings&ndash;&gt;-->
<!--              &lt;!&ndash;                    |&ndash;&gt;-->
<!--              &lt;!&ndash;                    span.cart-amount 2 &times; $119.00&ndash;&gt;-->
<!--              &lt;!&ndash;                    br&ndash;&gt;-->
<!--              &lt;!&ndash;                    |&ndash;&gt;-->
<!--              &lt;!&ndash;                    strong.cart-amount $238.00&ndash;&gt;-->
<!--              &lt;!&ndash;        li&ndash;&gt;-->
<!--              &lt;!&ndash;            .clearfix&ndash;&gt;-->
<!--              &lt;!&ndash;                .cart-sub-totle&ndash;&gt;-->
<!--              &lt;!&ndash;                    strong Total: $476.00&ndash;&gt;-->
<!--              &lt;!&ndash;        li&ndash;&gt;-->
<!--              &lt;!&ndash;            .clearfix&ndash;&gt;-->
<!--              &lt;!&ndash;                a.btn.btn-block.btn-round.btn-font-w(type='submit') Checkout&ndash;&gt;-->
<!--              &lt;!&ndash;li.dropdown&ndash;&gt;-->
<!--              &lt;!&ndash;    a.dropdown-toggle(href='#', data-toggle='dropdown') Search&ndash;&gt;-->
<!--              &lt;!&ndash;    ul.dropdown-menu(role='menu')&ndash;&gt;-->
<!--              &lt;!&ndash;        li&ndash;&gt;-->
<!--              &lt;!&ndash;            .dropdown-search&ndash;&gt;-->
<!--              &lt;!&ndash;                form(role='form')&ndash;&gt;-->
<!--              &lt;!&ndash;                    input.form-control(type='text', placeholder='Search...')&ndash;&gt;-->
<!--              &lt;!&ndash;                    |&ndash;&gt;-->
<!--              &lt;!&ndash;                    button.search-btn(type='submit')&ndash;&gt;-->
<!--              &lt;!&ndash;                        i.fa.fa-search&ndash;&gt;-->
<!--            </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </nav>-->
<!--    </main>-->
    <!--
    JavaScripts
    =============================================
    -->
    <script src="{% static 'lib/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/wow/dist/wow.js' %}"></script>
    <script src="{% static 'lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js' %}"></script>
    <script src="{% static 'lib/isotope/dist/isotope.pkgd.js' %}"></script>
    <script src="{% static 'lib/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'lib/flexslider/jquery.flexslider.js' %}"></script>
    <script src="{% static 'lib/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/smoothscroll.js' %}"></script>
    <script src="{% static 'lib/magnific-popup/dist/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'lib/simple-text-rotator/jquery.simple-text-rotator.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>